Android/.gradle-android/
Android/.gradle-backend/
Android/.gradle/
Android/.gradle-user-home/
Android/.kotlin/
Android/.idea/
Android/build/
Android/local.properties
Android/androidApp/.idea/
Android/androidApp/.kotlin/
Android/androidApp/.gradle/
Android/androidApp/.gradle-user-home/
Android/backend/.gradle/
Android/backend/.gradle-home/
.gradle/
.DS_Store
Thumbs.db
Mac/widget/.derivedData/
